h1 {
    text-align:center; font-family: Arial, Helvetica, sans-serif; font-size:50px; 
    background-color: darkorange; color: aliceblue;
}

a {
    display: block;
    text-align: center; font-family: Arial, Helvetica, sans-serif; background-color: orangered; color: antiquewhite; 
    font-size: 25px;
    border: 10px solid chartreuse;
    padding: 20px;

 
}

h3 {
    font-size: 30px; background-color: orangered; color: aliceblue;
}

p, ul, ol {
    font-size: x-large;
}

img {
    padding: 10px;
    border: 5px dotted gold;
    margin: 5px;
}

.food {
    margin-left: 300px;
    
}